:root {
  --color-magenta: hsl(300, 43%, 22%);
  --color-pink: hsl(333, 80%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --color-neutral-dark: hsl(303, 10%, 53%);
  --color-neutral-light: hsl(300, 24%, 96%);
}

* {
  margin: 0;
  font: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'League Spartan', sans-serif;
  display: grid;
  place-items: center;
}

p {
  font-size: 0.9375rem;
  line-height: 1.4;
}

.hero {
  color: var(--color-magenta);
  display: grid;
  grid-template-columns: 400px 400px;
  justify-content: space-between;
}

.heading,
.rating-text {
  font-weight: 700;
}

.heading {
  font-size: 3rem;
  line-height: 0.9;
  margin-bottom: 1.25rem;
}

/* .testimonials {
  color: var(--color-neutral-light);
} */

.ratings {
  place-self: center;
  display: grid;
  gap: 0.75rem;
}

.rating {
  --offset-spacing: 35px;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1.5rem;
  background-color: var(--color-neutral-light);
  padding: 1rem 1.5rem;
  border-radius: 6px;
  width: 25rem;
}

.rating:nth-child(2) {
  margin-left: var(--offset-spacing);
}

.rating:nth-child(3) {
  margin-left: calc(var(--offset-spacing) * 2);
}

.stars {
  background-image: url(/social-proof-section-master/images/icon-star.svg);
  background-repeat: space;
  background-position: top;
  height: 18px;
}
