:root {
  --color-magenta: hsl(300, 43%, 22%);
  --color-pink: hsl(333, 80%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --color-neutral-dark: hsl(303, 10%, 53%);
  --color-neutral-light: hsl(300, 24%, 96%);
}

* {
  margin: 0;
  font: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'League Spartan', sans-serif;
}

p {
  font-size: 0.9375rem;
}
